extends ../base/main.pug

block content
    .container
        table.table.table-striped.table-bordered.table-responsive-sm
            tr.header
                th Name
                th ACN
                th Current
                th Total
            if accounts.length != 0
                each n in accounts
                    tr
                        td=n.name
                        td=n.acn
                        td
                            h5=n.current+' Taka'
                        td=n.total+' Taka'
            else
                tr
                    td(colspan='4') No accounts yet