extends ../base/main.pug

block content
    .container
        p.header Add New
        a.btn.btn-primary(href='/addNew/customer') Add New Customer
        a.btn.btn-primary(href='/addNew/account') Add New Account
        a.btn.btn-primary(href='/addNew/deposit') Add New Deposit
